Repository andycooney/homeops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/hack, area/terraform, cluster/main, cluster/storage

feat: security things for plex and recyclarr
  kubernetes/main/apps/default/plex/app/helmrelease.yaml
  kubernetes/main/apps/default/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: move recyclarr to cronjob
  kubernetes/main/apps/default/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: z2m security
  kubernetes/main/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: sab security
  kubernetes/main/apps/default/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: more homesexops
  kubernetes/main/apps/default/authelia/app/helmrelease.yaml
  kubernetes/main/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/main/apps/default/overseerr/app/helmrelease.yaml
  kubernetes/main/apps/default/thelounge/app/helmrelease.yaml
  kubernetes/main/apps/default/unpackerr/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/unpoller/app/helmrelease.yaml
  kubernetes/main/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: onepass security
  kubernetes/main/apps/kube-system/external-secrets/stores/onepassword/helmrelease.yaml
  kubernetes/storage/apps/kube-system/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

hacs no like security
  kubernetes/main/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: hass security
  kubernetes/main/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: moar security
  kubernetes/main/apps/default/cross-seed/app/helmrelease.yaml
  kubernetes/main/apps/default/kubernetes-schemas/app/helmrelease.yaml
  kubernetes/main/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/main/apps/default/slskd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: moar security
  kubernetes/main/apps/default/slskd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: moar security
  kubernetes/main/apps/default/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: less security
  kubernetes/main/apps/default/slskd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: moar security
  kubernetes/main/apps/default/slskd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: moar security
  kubernetes/main/apps/default/slskd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: 🧜‍♀️
  README.md
Labels: none

renovate having issues?
  .github/workflows/renovate.yaml
Labels: area/github

add version input for renovate workflow
  .github/workflows/renovate.yaml
Labels: area/github

latest renovate has issues
  .github/workflows/renovate.yaml
Labels: area/github

feat(ansible)!: add playbook to upgrade kube-vip
  .taskfiles/Ansible/Taskfile.yaml
  ansible/main/playbooks/cluster-kube-vip.yaml
Labels: area/ansible

chore: update renovate workflow vars and renovate renovate version
  .github/workflows/renovate.yaml
Labels: area/github

chore: add concurrency to renovate workflow
  .github/workflows/renovate.yaml
Labels: area/github

chore: remove renovate str on workflow
  .github/workflows/renovate.yaml
Labels: area/github

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/docs:
  - "docs/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
cluster/main:
  - "kubernetes/main/**/*"
cluster/storage:
  - "kubernetes/storage/**/*"
