Repository andycooney/homeops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/hack, area/terraform, cluster/main, cluster/storage

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/docs:
  - "docs/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
cluster/main:
  - "kubernetes/main/**/*"
cluster/storage:
  - "kubernetes/storage/**/*"

chore: update labels
  .github/workflows/meta-labeler.yaml
Labels: area/github

feat: add security contexts for arrs
  kubernetes/main/apps/default/prowlarr/app/helmrelease.yaml
  kubernetes/main/apps/default/radarr/app/helmrelease.yaml
  kubernetes/main/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: update renovate config
  .github/renovate/clusters.json5
  kubernetes/main/apps/default/prowlarr/app/helmrelease.yaml
  kubernetes/main/apps/default/radarr/app/helmrelease.yaml
  kubernetes/main/apps/default/sonarr/app/helmrelease.yaml
Labels: area/github, area/kubernetes, cluster/main

fix: add oom prom rule
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/prometheusrules/prometheusrule.yaml
Labels: area/kubernetes, cluster/main

fix: add oom prom rule
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/prometheusrules/prometheusrule.yaml
Labels: area/kubernetes, cluster/main

feat: add tz and security to renovate config
  .github/renovate.json5
Labels: area/github

less greedy on fix group
  .github/renovate/groups.json5
Labels: area/github

chore: add ansible renovate label back to labels
  .github/labels.yaml
Labels: area/github

chore: update label colors
  .github/labels.yaml
Labels: area/github

chore: add logo for repo
  docs/src/assets/logo.png
Labels: area/docs

feat!: update ceph to v18
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix: remove extraneous service options
  kubernetes/main/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/main/apps/default/slskd/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/vector/app/aggregator/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix: looks like service controller was reqired xD
  kubernetes/main/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/main/apps/default/slskd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: add release config file
  .github/release.yaml
Labels: area/github

feat: flux:apply task should apply via flux build
  .taskfiles/Flux/Taskfile.yaml
Labels: none

fix: flux:apply task should assume ks
  .taskfiles/Flux/Taskfile.yaml
Labels: none

fix: flux:apply task should assume ks
  .taskfiles/Flux/Taskfile.yaml
Labels: none

chore: k8s-at-home is not home operations :tada:
  README.md
  kubernetes/main/bootstrap/flux/github-deploy-key.sops.yaml
  kubernetes/storage/bootstrap/flux/github-deploy-key.sops.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat: update autobrr to v1
  kubernetes/main/apps/default/autobrr/app/config/config.toml
  kubernetes/main/apps/default/autobrr/app/externalsecret.yaml
  kubernetes/main/apps/default/autobrr/app/helmrelease.yaml
  kubernetes/main/apps/default/autobrr/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix: no autobrr, you may not
  kubernetes/main/apps/default/autobrr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix: no atuin, you may not
  kubernetes/main/apps/default/atuin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix: use native helm values for dns01 config
  kubernetes/main/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/storage/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

fix: update taskfiles to use summary correctly
  .taskfiles/Ansible/Taskfile.yaml
  .taskfiles/ExternalSecrets/Taskfile.yaml
  .taskfiles/Flux/Taskfile.yaml
  .taskfiles/Kubernetes/Taskfile.yaml
  .taskfiles/VolSync/Taskfile.yaml
Labels: none

feat: do not do this, I dunno why I am
  kubernetes/main/apps/default/exportarr-pg/app/config/config.yaml
  kubernetes/main/apps/default/exportarr-pg/app/externalsecret.yaml
  kubernetes/main/apps/default/exportarr-pg/app/helmrelease.yaml
  kubernetes/main/apps/default/exportarr-pg/app/kustomization.yaml
  kubernetes/main/apps/default/exportarr-pg/ks.yaml
  kubernetes/main/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/main

feat: do not do this, I dunno why I am
  kubernetes/main/apps/default/exportarr-pg/app/config/config.yaml
Labels: area/kubernetes, cluster/main

feat: do not do this, I dunno why I am
  kubernetes/main/apps/default/exportarr-pg/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: do not do this, I dunno why I am
  kubernetes/main/apps/default/exportarr-pg/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

feat: do not do this, I dunno why I am
  kubernetes/main/apps/default/exportarr-pg/app/config/config.yaml
Labels: area/kubernetes, cluster/main

feat: do not do this, I dunno why I am
  kubernetes/main/apps/default/exportarr-pg/ks.yaml
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/prowlarr/exporter/config/config.yaml
  kubernetes/main/apps/default/prowlarr/exporter/externalsecret.yaml
  kubernetes/main/apps/default/prowlarr/exporter/helmrelease.yaml
  kubernetes/main/apps/default/prowlarr/exporter/kustomization.yaml
  kubernetes/main/apps/default/prowlarr/ks.yaml
Labels: area/kubernetes, cluster/main

feat: i didn't do it
  archive/kubernetes/apps/default/prowlarr-exporter/config/config.yaml
  archive/kubernetes/apps/default/prowlarr-exporter/externalsecret.yaml
  archive/kubernetes/apps/default/prowlarr-exporter/helmrelease.yaml
  archive/kubernetes/apps/default/prowlarr-exporter/kustomization.yaml
  kubernetes/main/apps/default/prowlarr/ks.yaml
Labels: area/kubernetes, cluster/main

chore^: upcoming atuin release will have metrics
  kubernetes/main/apps/default/atuin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: add package perms
  .github/workflows/publish-schemas.yaml
Labels: area/github

chore: add workflow permissions
  .github/workflows/publish-terraform.yaml
Labels: area/github

chore: update README.md
  README.md
Labels: none

chore: do not need this permission
  .github/workflows/publish-terraform.yaml
Labels: area/github

chore: renovate move some config to workflow
  .github/renovate.json5
  .github/workflows/renovate.yaml
Labels: area/github

feat: enable multicluster in helmrepo sync workflow
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

feat: enable multicluster in helmrepo sync workflow
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

feat: enable multicluster in helmrepo sync workflow
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

feat: enable multicluster in helmrepo sync workflow
  .github/workflows/helmrepository-sync.yaml
Labels: area/github
