Repository andycooney/homeops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/storage

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/docs:
  - "docs/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/taskfile:
  - ".taskfiles/**/*"
  - "Taskfile*"
area/terraform:
  - "terraform/**/*"
cluster/main:
  - "kubernetes/main/**/*"
cluster/storage:
  - "kubernetes/storage/**/*"

chore: add sops task to Taskfile
  Taskfile.yaml
Labels: area/taskfile

chore: update readme
  README.md
Labels: none

fix: downgrade bcrypt
  ansible/requirements.txt
Labels: area/ansible

chore: update :mermaid: flux graph
  README.md
Labels: none

chore: update images
  README.md
  docs/src/assets/dns.png
  docs/src/assets/network-topology.png
  docs/src/assets/networks.png
Labels: area/docs

chore: update images
  README.md
Labels: none

fix: add cluster to wait and controller volsync scripts
  .taskfiles/VolSync/Taskfile.yaml
  .taskfiles/VolSync/scripts/controller.sh
  .taskfiles/VolSync/scripts/wait.sh
Labels: area/taskfile

fix: check if ks exists and do dry-run if not
  .taskfiles/Flux/Taskfile.yaml
Labels: area/taskfile

fix: check if ks exists and do dry-run if not
  .taskfiles/Flux/Taskfile.yaml
Labels: area/taskfile

fix: check if ks exists and do dry-run if not
  .taskfiles/Flux/Taskfile.yaml
Labels: area/taskfile

fix: check if ks exists and do dry-run if not
  .taskfiles/Flux/Taskfile.yaml
Labels: area/taskfile
